# Python
__pycache__/
*.py[cod]
venv/
env/
.env
*.egg-info/
dist/
build/
*.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*
